<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pigeon" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pigeon</name>
    <description>
        S18C bar code reader for CTT.
    </description>
    <author email="jean.nicola.blanchet@gmail.com" href="">
        Jean-Nicola Blanchet
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<allow-navigation href="http://*/*" launch-external="yes" />
	<allow-navigation href="https://*/*" launch-external="yes" />
	<allow-navigation href="data:*" launch-external="yes" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	<icon src="www/img/icon.png" width="64" height="64" density="mdpi" />
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
	<preference name="AndroidExtraFilesystems" value="files,cache, sdcard, cache-external, files-external" />

</widget>
